@font-face {
  font-family: TwitterChirp;
  src: url(/assets/fonts/Chirp-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(/assets/fonts/Chirp-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(/assets/fonts/Chirp-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: 'normal';
  font-display: 'swap';
}
@font-face {
  font-family: TwitterChirp;
  src: url(/assets/fonts/Chirp-Heavy.woff2) format('woff2');
  font-weight: 800;
  font-style: 'normal';
  font-display: 'swap';
}